<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>programmedToLove</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
          
          <a class="button-collapse" data-activates="nav-mobile" href=
          "#"><i class="material-icons">menu</i></a>

          <div class="section no-pad-bot">
              <div class="container center">
                  <br>
                  <br>
                  <h1 class="header center teal-text text-lighten-2" id="logo">
                  programmedToLove</h1><br>

                  
                  <!-- Modal Structure -->
                  <div id="modalAlert" class="modal black-text">
                    <div class="modal-content">
                      <h5></h5>
                      <p></p>
                    </div>
                    <div class="modal-footer">
                      <a href="/profilepage" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                  </div>


                    <!-- Modal Structure -->
                  <div id="modal2" class="modal modal-fixed-footer">
                    <div class="modal-content">
                    <font color="black">
                  
                      <form>
                        <div>
                          <label for="registerBio">Tell us about yourself:</label>
                          <textarea class="materialize-textarea" type="text" id="registerBio"></textarea>
                        </div>
                    
                        <div>
                          <p>
                            <label for="ageID">Age: </label>
                            <input type="text" id="ageID"  />
                          </p>
                          <h5>I am...</h5>
                          <p>
                            <input class="with-gap" name="myGender" value="m" type="radio" id="meMaleID"  />
                            <label for="meMaleID">male</label>
                          </p>
                          <p>
                            <input class="with-gap" name="myGender" value="f" type="radio" id="meFmaleID"  />
                            <label for="meFmaleID">female</label>
                          </p>
                          <p>
                            <input class="with-gap" name="myGender" value="n" type="radio" id="meNbID"  />
                            <label for="meNbID">non-binary</label>
                          </p>
                          <p>
                            <input class="with-gap" name="myDev" value="frontEnd" type="radio" id="meFrontEnd"  />
                            <label for="meFrontEnd">front-end</label>
                          </p>
                          <p>
                            <input class="with-gap" name="myDev" value="backEnd" type="radio" id="meBackEnd"  />
                            <label for="meBackEnd">back-end</label>
                          </p>
                          <p>
                            <input class="with-gap" name="myDev" value="fullStack" type="radio" id="meFullStack"  />
                            <label for="meFullStack">full-stack</label>
                          </p>
                          <h5>Match me with a...</h5>
                          
                          <p>
                            <input class="with-gap" name="gender" value="m" type="radio" id="maleID"  />
                            <label for="maleID">male</label>
                          </p>
                          <p>
                            <input class="with-gap" name="gender" value="f" type="radio" id="femaleID"  />
                            <label for="femaleID">female</label>
                          </p>
                          <p>
                            <input class="with-gap" name="gender" value="n" type="radio" id="nbID"  />
                            <label for="nbID">non-binary</label>
                          </p>
   
                          <p>
                            <input class="with-gap" name="orientation" value="frontEnd" type="radio" id="frontendID"  />
                            <label for="frontendID">front-end</label>
                          </p>
                          <p>
                            <input class="with-gap" name="orientation" value="backEnd" type="radio" id="backendID"  />
                            <label for="backendID">back-end</label>
                          </p>
                          <p>
                            <input class="with-gap" name="orientation" value="fullStack" type="radio" id="fullstackID"  />
                            <label for="fullstackID">full-stack</label>
                          </p>
                        </div>
                      </form>                  
                    
                    </font>
                    </div>
                    <div class="modal-footer">
                      <a id="registerButton" class=" modal-action modal-close waves-effect waves-green btn-flat">Register</a>
                      <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>Close</button>
                    </div>
                  </div>
              
              <br>
              <br>
              <div><img alt="image" src="static/images/robot.png"></div>
          </div>
      </div>
    </nav>

  <div class="parallax-container">
      <div class="parallax">
      </div>
  </div>

  <footer>
      <div align="center">
      © 2016 programmedToLove
      </div>
  </footer>
            
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script type="text/javascript" src="static/js/register.js"></script>
  <script type="text/javascript" src="static/js/script.js"></script>
  <script type="text/javascript">

  </script>
</body>
</html>
