.container{
margin-top:0px;
text-align:center;
width:100%;
height:600px;
min-width:850px

}

.backgroundBuddha{
 background:url("../images/buddha.jpg"); 
 background-size:100%;
 background-repeat: no-repeat; 
 margin-left:0px;

 
}

.infoBudha{
font-size:12px;
padding-left:330px;
margin-top:0px

}
.page-header{
  margin-top:20px;
  margin-bottom:-15px;
  border:0px; 
  text-align:left;
  padding-left:300px;
  color:black
}

h1 {
	margin-top:-0px;
	text-align:left;
}

#word {
	color: green;		
	margin-top:-2px;
    margin-bottom:2px;
    text-align:left;    	
}

#word h2 {
	color: black;	
    font-size:20px;
    margin-bottom:0px;   
    margin-left:310px
    
}

.panel {
	width: 500px;
	height: 450px;
	margin-left:420px
}

panel-body{
    text-align: left;
}


#gameArea{
padding-top:0px;
padding-left:40px;
margin-left:300px;
color:white;
font-size:24px;
text-transform: uppercase;

}


#instructions {
	text-align: center;
}


#stats {
	width: 400px;
	height: 280px;
	margin-left:305px;
	margin-top:0px;
	text-align: left;
	min-width:400px;
	border:2px solid black;
    border-radius:5px
}


.textLeft{
    text-align: left;
}
.wrong-guesses-hdr{
margin-top:-15px;
}

#incorrectGuesses{
color:red;
font-size:16px;
text-transform: uppercase;
margin-bottom:10px;


}

.wins-hdr{
margin-top:15px

}